* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
1. nested css
2. variables 
3. self &
4. import
5. mixin
*/

@import "./header";

@mixin flex($direction) {
  display: flex;
  flex-direction: column;
}

div.link {
  @include flex(colum);
}

img {
  width: 500px;
  height: 500px;
}
